/compile
/constraint_backup
/device_map
/generate_bitstream
/log*
/place_route
/report_timing
/synthesize
/source/py/ethernet
/source/vcs/*
!/source/vcs/sim_file_list.f
!/source/vcs/Makefile
/source/py/Network-monitoring-master/
run
*.lock
*.wf
*.fdc
*.log
*.tcl
clear_wave.sh
!sim.tcl
modelsim*
transcript
*.wlf
wlft*
work
*.pds
*.v~
*.settings
*.idf
*.vhdl
*.dat
*.zip
*generate*
*bak
!*.v
